.DS_Store
/.vscode/*.log
/qjs
/qjsc
/qjs-debug
/qjscalc.c
/repl.c
/test.bytecode
/test.js
/.obj
/test262
/run-test262
/test262_report.txt
/build/sysroots/
.cache

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps